# REST Countries API URL
API_URL=https://restcountries.com/v3.1/independent?status=true

# Database path
DATABASE_PATH=data/countries.db

# Data paths
PROCESSED_DATA_PATH=data/processed_countries.csv
RAW_DATA_PATH=data/raw_countries.json