# Jupyter checkpoints
.ipynb_checkpoints/
notebooks/.ipynb_checkpoints/

# Anaconda project files
anaconda_projects/

# Generated data
data/

# Python cache
__pycache__/
*.pyc

# Trained models (we'll keep samples separately)
models/*.pkl