# REST Countries API URL
API_URL=https://restcountries.com/v3.1/independent?status=true

# Database paths
DATABASE_PATH=data/countries.db
PROCESSED_DATA_PATH=data/processed_countries.csv
RAW_DATA_PATH=data/raw_countries.json


# AWS S3 Configuration
AWS_ACCESS_KEY_ID=your_access_key_here
AWS_SECRET_ACCESS_KEY=your_secret_key_here
AWS_BUCKET_NAME=your_bucket_name_here
AWS_REGION=ap-southeast-2